.img {
  /* width: 1000px; */
  height: 400px;
}

.panel {
  font-size: 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
  margin-bottom: 20px;
}
.inputArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px auto;
}

.label {
  font-size: 40px;
  color: white;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  border-radius: 10px;
  background: #6c38cc;
  color: white;
  border: none;
  padding: 20px 40px;
  margin: 10px;
}

.notification,
.content {
  font-size: 28px;
  color: white;
  margin: 20px;
}

.notification_active {
  display: block;
}

.button:hover {
  background: #844fe6;
}

.input {
  box-sizing: border-box;
  padding: 15px 16px;
  color: white;
  border: 1px solid rgba(212, 212, 212, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  height: 56px;
  font-size: 18px;
  line-height: 21px;
  outline: none;
  box-shadow: none;
  text-align: center;
}
